<html>

    <head> <title> Sistema de control de Ingreso </title>

    <body>

        <H1> Nueva Área </H1>

        <HR>

        <form method=post action=/m_grabar_areas_nuevo>

        <table border=0>

            <tr><td>Nombre:</td><td><input type=text name=xnom

                                    id=xnom size=30></td></tr>

        <tr><td>Abreviatura:</td><td><input type=text name=xabr

                                    id=xsue size=10></td></tr>

        <tr><td>Estado:</td><td><input type=text name=xest

                                    id=xsue size=10></td></tr>

        <tr><td></td><td><input type=submit value=Grabar></td></tr>

        </table>

      </form>

    </body>

</html>